@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap");

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;

  color: white;
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

hr {
  border: none;
  border: 1px solid white;
  width: 90%;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px;
  gap: 5px;
}

.hero-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  margin-top: 20px;
}

.hero-info h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 32px;
  width: 75%;
  text-align: center;
}

.hero-info p {
  width: 100%;
  font-size: 16px;
  text-align: left;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img img {
  width: 100%;
  margin: auto;
  animation: rotate 400s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#next-button {
  display: flex;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: auto;
  padding: auto 20px;
  font-size: 20px;
  color: white;
  background-color: transparent;
}

/* .intro {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px;
}

.intro h2 {
  font-size: 26px;
  margin-top: 5px;
}

.intro-card {
  background-color: white;
  color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px 30px;
  margin-bottom: 20px;
  /* transition: transform 150ms ease-in-out; */
}

/* .intro-card:hover {
  transform: scale(1.02);
} */

.intro-card p {
  font-size: 16px;
  text-align: left;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.radio-buttons input[type="radio"] {
  margin-right: 10px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  transition: transform 0.3s ease-in-out;
}

input[type="radio"]:checked:after {
  transform: scale(1.1);
}

#yellow:checked:after {
  background-color: #ffe000;
}

#blue:checked:after {
  background-color: #21254f;
}

#white:checked:after {
  background-color: #ffffff;
}

#brown:checked:after {
  background-color: #864414;
}

#grey:checked:after {
  background-color: #bdbcbc;
}

#orange:checked:after {
  background-color: #e84e0e;
}

#black:checked:after {
  background-color: #000000;
}

#red:checked:after {
  background-color: #e30613;
}

#pink:checked:after {
  background-color: #f29dac;
}

#green:checked:after {
  background-color: #1da438;
}

.color-card {
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 10px;
  width: 300px;
  height: 600px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.color-card h2 {
  padding: 0px 20px;
  font-size: 48px;
}

.color-card p {
  padding: 0px 20px;
  font-size: 14px;
}

.frames {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.frames img {
  width: 100%;
  margin: 7px 0px;
  border-radius: 10px;
}

#back {
  display: flex;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: auto;
  padding: auto 20px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  user-select: none;
}
